# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Secretos
.env

# Estáticos recolectados
staticfiles/

# Entornos virtuales
venv/
env/

# IDEs
.vscode/
.idea/
node_modules
